.box {
  font-size: 50px;
  color: white;
  padding: 10px;
  text-align:center;
  font-family: lato;
  font-weight: 300;
  box-sizing: border-box;
  width: 300px;
}

.box-1 {background: #e51400; }
.box-2 {background: #fa6800;}
.box-3 {background: #f0a30a;}
.box-4 {background: #e3c800; }
.box-5 {background: #a4c400;}
.box-6 {background: #60a917;}
.box-7 {background: #00aba9;}
.box-8 {background: #1ba1e2;} 
.box-9 {background: #aa00ff;}

.container {
  display: flex;
  border: 10px solid black;
  height: 100vh;
  flex-wrap: wrap;
  /* align-items: */
  /*
  acts like justify-content but along
  the cross-axis

  stretch - default
  takes the full space

  center

  flex-start
  takes minimum space needed starting
  from the beginning

  flex-end
  ...

  baseline
  allows to align by the text line
  */

  align-content: space-between;
  /*
  defines how space is distr between rows
  along the cross-axis

  flex-start
  
  */

}

/* 
!!! ALIGN-CONTENT AND ALIGN-ITEMS WILL EVENTUALLY
CANCEL ONE ANOTER 
*/